<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.sys.dao.HttpMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.sys.entity.Http">
    <!--@mbg.generated-->
    <!--@Table http-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="data" jdbcType="LONGVARCHAR" property="data" />
    <result column="respone" jdbcType="LONGVARCHAR" property="respone" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="method" jdbcType="VARCHAR" property="method" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, url, `data`, respone, `status`, `method`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from http
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from http
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="io.renren.modules.sys.entity.Http" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into http (url, `data`, respone,
      `status`, `method`)
    values (#{url,jdbcType=VARCHAR}, #{data,jdbcType=LONGVARCHAR}, #{respone,jdbcType=LONGVARCHAR},
      #{status,jdbcType=INTEGER}, #{method,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.renren.modules.sys.entity.Http" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into http
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url,
      </if>
      <if test="data != null">
        `data`,
      </if>
      <if test="respone != null">
        respone,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="method != null">
        `method`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=LONGVARCHAR},
      </if>
      <if test="respone != null">
        #{respone,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.sys.entity.Http">
    <!--@mbg.generated-->
    update http
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        `data` = #{data,jdbcType=LONGVARCHAR},
      </if>
      <if test="respone != null">
        respone = #{respone,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="method != null">
        `method` = #{method,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.renren.modules.sys.entity.Http">
    <!--@mbg.generated-->
    update http
    set url = #{url,jdbcType=VARCHAR},
      `data` = #{data,jdbcType=LONGVARCHAR},
      respone = #{respone,jdbcType=LONGVARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      `method` = #{method,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-04-12-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from http
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="url != null">
                and url=#{url,jdbcType=VARCHAR}
            </if>
            <if test="data != null">
                and `data`=#{data,jdbcType=LONGVARCHAR}
            </if>
            <if test="respone != null">
                and respone=#{respone,jdbcType=LONGVARCHAR}
            </if>
            <if test="status != null">
                and `status`=#{status,jdbcType=INTEGER}
            </if>
            <if test="method != null">
                and `method`=#{method,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
