<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.business.dao.AssociationMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.business.entity.GroupHotspottyAssociation">
    <!--@mbg.generated-->
    <!--@Table sys_group_hotspotty-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="hotspotty_id" jdbcType="BIGINT" property="hotspottyId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, group_id, hotspotty_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from sys_group_hotspotty
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="goupHotspottyInsert" keyColumn="id" keyProperty="id" parameterType="io.renren.modules.business.entity.GroupHotspottyAssociation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_group_hotspotty (group_id, hotspotty_id)
    values (#{groupId,jdbcType=BIGINT}, #{hotspottyId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="io.renren.modules.business.entity.GroupHotspottyAssociation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_group_hotspotty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="hotspottyId != null">
        hotspotty_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="hotspottyId != null">
        #{hotspottyId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.business.entity.GroupHotspottyAssociation">
    <!--@mbg.generated-->
    update sys_group_hotspotty
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="hotspottyId != null">
        hotspotty_id = #{hotspottyId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.renren.modules.business.entity.GroupHotspottyAssociation">
    <!--@mbg.generated-->
    update sys_group_hotspotty
    set group_id = #{groupId,jdbcType=BIGINT},
      hotspotty_id = #{hotspottyId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="batchGoupHotspottyInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_group_hotspotty
    (group_id, hotspotty_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.groupId,jdbcType=BIGINT}, #{item.hotspottyId,jdbcType=BIGINT})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2022-03-20-->
  <delete id="deleteByGroupId">
    delete from sys_group_hotspotty
    where group_id=#{groupId,jdbcType=BIGINT}
  </delete>

  <insert id="batchUserGroupInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_user_group
    (group_id, user_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.groupId,jdbcType=BIGINT}, #{item.userId,jdbcType=BIGINT})
    </foreach>
  </insert>

  <!--auto generated by MybatisCodeHelper on 2022-03-20-->
  <delete id="deleteUserGroupByUserId">
    delete from sys_user_group
    where user_id=#{userId,jdbcType=BIGINT}
  </delete>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="findGroupIdByUserId" resultType="java.lang.Long">
    select group_id
    from sys_user_group
    where user_id=#{userId,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="getUserGroupCount" resultType="java.lang.Long">
    select
        count(*)
    from sys_user_group
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="groupId != null">
        and group_id=#{groupId,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id=#{userId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="getGoupHotspottyCount" resultType="java.lang.Long">
    select
        count(*)
    from sys_group_hotspotty
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="groupId != null">
        and group_id=#{groupId,jdbcType=BIGINT}
      </if>
      <if test="hotspottyId != null">
        and hotspotty_id=#{hotspottyId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
</mapper>
