<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.business.dao.BusinessG5LogMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.business.entity.BusinessG5Log">
    <!--@mbg.generated-->
    <!--@Table business_g5_log-->
    <id column="g5_log_id" jdbcType="BIGINT" property="g5LogId" />
    <result column="id" jdbcType="CHAR" property="id" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    g5_log_id, id, type_id, `status`, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from business_g5_log
    where g5_log_id = #{g5LogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from business_g5_log
    where g5_log_id = #{g5LogId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="g5_log_id" keyProperty="g5LogId" parameterType="io.renren.modules.business.entity.BusinessG5Log" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into business_g5_log (id, type_id, `status`,
      create_time)
    values (#{id,jdbcType=CHAR}, #{typeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="g5_log_id" keyProperty="g5LogId" parameterType="io.renren.modules.business.entity.BusinessG5Log" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into business_g5_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.business.entity.BusinessG5Log">
    <!--@mbg.generated-->
    update business_g5_log
    <set>
      <if test="id != null">
        id = #{id,jdbcType=CHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where g5_log_id = #{g5LogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.renren.modules.business.entity.BusinessG5Log">
    <!--@mbg.generated-->
    update business_g5_log
    set id = #{id,jdbcType=CHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where g5_log_id = #{g5LogId,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="g5_log_id" keyProperty="g5LogId" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into business_g5_log
    (id, type_id, `status`, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=CHAR}, #{item.typeId,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER},
        #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2022-12-28-->
  <select id="selectAllByIdAndTypeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from business_g5_log
        where id=#{id,jdbcType=CHAR}
    and type_id in
    <foreach collection="typeIds" item="typeId" open="(" close=")" separator=",">
      #{typeId,jdbcType=INTEGER}
    </foreach>
    </select>

<!--auto generated by MybatisCodeHelper on 2022-12-28-->
  <select id="selectAllByIdAndTypeIdAndCreateTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from business_g5_log
    where id=#{id,jdbcType=CHAR}
    and create_time <![CDATA[ >= ]]> DATE_SUB(#{createTime,jdbcType=TIMESTAMP},INTERVAL 3 DAY)
    and type_id in
    <foreach collection="typeIds" item="typeId" open="(" close=")" separator=",">
      #{typeId,jdbcType=INTEGER}
    </foreach>
  </select>
</mapper>
