<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.business.dao.BusinessLogMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.business.entity.BusinessLog">
    <!--@mbg.generated-->
    <!--@Table business_log-->
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="devtype" jdbcType="VARCHAR" property="devtype" />
    <result column="gip" jdbcType="VARCHAR" property="gip" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="gap" jdbcType="VARCHAR" property="gap" />
    <result column="loratm" jdbcType="TIMESTAMP" property="loratm" />
    <result column="witnesstm" jdbcType="VARCHAR" property="witnesstm" />
    <result column="beacontm" jdbcType="TIMESTAMP" property="beacontm" />
    <result column="lastwitness" jdbcType="VARCHAR" property="lastwitness" />
    <result column="hearttm" jdbcType="TIMESTAMP" property="hearttm" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="disk" jdbcType="DOUBLE" property="disk" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    cname, ip, devtype, gip, height, gap, loratm, witnesstm, beacontm, lastwitness, hearttm,
    remark, token, address, disk
  </sql>
  <insert id="insertSelective" parameterType="io.renren.modules.business.entity.BusinessLog">
    <!--@mbg.generated-->
    insert into business_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        cname,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="devtype != null">
        devtype,
      </if>
      <if test="gip != null">
        gip,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="gap != null">
        gap,
      </if>
      <if test="loratm != null">
        loratm,
      </if>
      <if test="witnesstm != null">
        witnesstm,
      </if>
      <if test="beacontm != null">
        beacontm,
      </if>
      <if test="lastwitness != null">
        lastwitness,
      </if>
      <if test="hearttm != null">
        hearttm,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="disk != null">
        disk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devtype != null">
        #{devtype,jdbcType=VARCHAR},
      </if>
      <if test="gip != null">
        #{gip,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="gap != null">
        #{gap,jdbcType=VARCHAR},
      </if>
      <if test="loratm != null">
        #{loratm,jdbcType=TIMESTAMP},
      </if>
      <if test="witnesstm != null">
        #{witnesstm,jdbcType=VARCHAR},
      </if>
      <if test="beacontm != null">
        #{beacontm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastwitness != null">
        #{lastwitness,jdbcType=VARCHAR},
      </if>
      <if test="hearttm != null">
        #{hearttm,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="disk != null">
        #{disk,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
