<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.renren.modules.business.dao.BusinessLogMapper">
  <resultMap id="BaseResultMap" type="io.renren.modules.business.entity.BusinessLog">
    <!--@mbg.generated-->
    <!--@Table business_log-->
    <result column="hid" jdbcType="CHAR" property="hid" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="devtype" jdbcType="VARCHAR" property="devtype" />
    <result column="gip" jdbcType="VARCHAR" property="gip" />
    <result column="loratm" jdbcType="TIMESTAMP" property="loratm" />
    <result column="witnesstm" jdbcType="TIMESTAMP" property="witnesstm" />
    <result column="disk" jdbcType="DOUBLE" property="disk" />
    <result column="muxtm" jdbcType="TIMESTAMP" property="muxtm" />
    <result column="minerver" jdbcType="VARCHAR" property="minerver" />
    <result column="minerstat" jdbcType="VARCHAR" property="minerstat" />
    <result column="ver" jdbcType="VARCHAR" property="ver" />
    <result column="beacontm" jdbcType="TIMESTAMP" property="beacontm" />
    <result column="hearttm" jdbcType="TIMESTAMP" property="hearttm" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="grpcfaild" jdbcType="INTEGER" property="grpcfaild" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    hid, ip, devtype, gip, loratm, witnesstm, `disk`, muxtm, minerver, minerstat, ver, 
    beacontm, hearttm, remark, grpcfaild
  </sql>
  <insert id="insertSelective" parameterType="io.renren.modules.business.entity.BusinessLog">
    <!--@mbg.generated-->
    insert into business_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        hid,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="devtype != null">
        devtype,
      </if>
      <if test="gip != null">
        gip,
      </if>
      <if test="loratm != null">
        loratm,
      </if>
      <if test="witnesstm != null">
        witnesstm,
      </if>
      <if test="disk != null">
        `disk`,
      </if>
      <if test="muxtm != null">
        muxtm,
      </if>
      <if test="minerver != null">
        minerver,
      </if>
      <if test="minerstat != null">
        minerstat,
      </if>
      <if test="ver != null">
        ver,
      </if>
      <if test="beacontm != null">
        beacontm,
      </if>
      <if test="hearttm != null">
        hearttm,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="grpcfaild != null">
        grpcfaild,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        #{hid,jdbcType=CHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="devtype != null">
        #{devtype,jdbcType=VARCHAR},
      </if>
      <if test="gip != null">
        #{gip,jdbcType=VARCHAR},
      </if>
      <if test="loratm != null">
        #{loratm,jdbcType=TIMESTAMP},
      </if>
      <if test="witnesstm != null">
        #{witnesstm,jdbcType=TIMESTAMP},
      </if>
      <if test="disk != null">
        #{disk,jdbcType=DOUBLE},
      </if>
      <if test="muxtm != null">
        #{muxtm,jdbcType=TIMESTAMP},
      </if>
      <if test="minerver != null">
        #{minerver,jdbcType=VARCHAR},
      </if>
      <if test="minerstat != null">
        #{minerstat,jdbcType=VARCHAR},
      </if>
      <if test="ver != null">
        #{ver,jdbcType=VARCHAR},
      </if>
      <if test="beacontm != null">
        #{beacontm,jdbcType=TIMESTAMP},
      </if>
      <if test="hearttm != null">
        #{hearttm,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="grpcfaild != null">
        #{grpcfaild,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>